@media screen and  (min-width:481px) {

  body{
    margin: 0;
    padding: 0;
    background-color:black;
    color:white;

  }

  header {
    width:100%;
    height:7%;
    background:black;
    color:white;
    position: fixed;
    top:0;
    left:0;
    z-index:100;
  }



#contenedor {
  width:100%;
  height:88vh;
  margin-top:-50px;
  background-repeat: no-repeat;

  background-image: url(tokyyo.png);
  background-size: 100% auto;
}

#menu-bar {
  display: none;

}

header label {
float: right;
font-size: 29px;
margin: 22px 0;
cursor:pointer;
margin-top:14px;
}

header .contenedor {
  display: table;

}


h1{
  font-size:100px;
  text-align:center;
  font-family: 'Bungee Inline', cursive;
  color:white;
  margin: 0;
  padding: 0;
  padding-top: 12%;
    
}

h2 {
  font-size: 40px;
  margin-top:2%;
  text-align:center;
  color:white;
  margin: 0;
  padding: 0;
  font-family: 'Bungee Inline', cursive;

}

h3 {
   text-align: center;
   font-size:30px;
   border: white 2px solid;

}

h5{
  font-size:20px;
   border:#424242 2px solid;

}
li {
  text-align: center;
  list-style: none;
  color:white;
  font-size:22px;

}


p {
  width:66%;
  text-align: left;
  margin:0 auto;
  border:#424242 1px solid;
  background-color: #1C1C1C;
  opacity:0.9;
  padding:12px;
}

.menu{
 position: absolute;
 top:58px;
 left:0px;
 width: 100%;
 height: 100vh;
 background: black;
 opacity: 2;
 transition: all 0.6s;
 transform : translateX(-100%);

}

.menu a{
  display: block;
  color:white;
  height: 49px;
  text-decoration: none;
  padding: 10px;
  border-bottom: 1px solid white;
  opacity: 0.3;
}

.menu a:hover {
  background: white;
  opacity: 0.2;
}

#menu-bar:checked ~ .menu {
transform : translateX(0%);
}


#tokyo {
  margin-top:66px;
  position: relative;
}
#tokyo img{
  width:100%;
  height:30vh;
  position:relative;

}

#tokyo .contenedor {
  position:absolute;
  top:30%;
  left:20%;
  color:white;
  font-size:25px;
  border:#424242 2px solid;

}



section {
  width: 100%;
  margin-bottom: 25px;
}

.capçalera img {
  width:50px;
  height:50px;
  position:absolute;
  vertical-align:middle;
  margin-left:48%;
  margin-top:0.5%;


}

#blog  img{
   width:400px;
   height: 250px;
   margin:30px;



}

#blog {
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  margin:3px;

}






#historia{
  margin-top: 70px;
  text-align: center;
}
#historia img{
margin-bottom: 10px;
width:70%;
height:40%;
}

#transports {
  margin-top: 20px;
  text-align: center;
}

#transports img {
  margin-bottom: 10px;
  width:80%;
  height:40%;
}


#Cultura {
  margin-top: 70px;
  text-align: center;
}

#Cultura img {
  margin-bottom: 10px;
  width:70%;
  height:30%;
}

#llocs{
  margin-top: 80px;
  text-align: center;
}
#llocs img{
margin-bottom: 10px;
width:70%;
height:40%;
}

#allotjament {
  margin-top: 150px;
  text-align: center;
}

#allotjament img {
  margin-bottom: 10px;
  width:80%;
  height:40%;
}









#contacta {
  margin-top:200px;
  text-align: center;
 border:#424242 2px solid;
}

footer {
   height:50px;
   width:100%;
   background-color:black;
   margin-top:10px;
}



}
